
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.home {
  height: 100vh;
  background: linear-gradient(
    to right,
    #4f46e5,
    #9333ea
  );
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 60px;
}

.home p {
  margin: 20px 0;
}

.home button {
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.products-page {
  padding: 30px;
}

.products-page h1 {
  text-align: center;
  margin-bottom: 30px;
}

.products-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  background: white;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card h3 {
  margin: 15px 0;
  font-size: 18px;
}

.price {
  color: green;
  font-size: 22px;
  font-weight: bold;
}

.card button {
  margin-top: 15px;
  padding: 10px 15px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.details-page {
  min-height: 100vh;
  background: #f4f4f4;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.details-card {
  max-width: 900px;
  background: white;
  padding: 30px;
  border-radius: 20px;

  display: flex;
  gap: 30px;
}

.details-card img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.details-card h1 {
  margin-bottom: 15px;
}

.details-card h2 {
  margin-top: 20px;
  color: green;
}

.details-card button {
  margin-top: 20px;
  padding: 12px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .details-card {
    flex-direction: column;
    text-align: center;
  }

  .details-card img {
    width: 100%;
  }
}